
@{
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="fa fa-tachometer" style="font-size: 400%;" ></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Board</h4>
                                   
                                    <p>
                                        We have an information panel of the installed devices, where you can see the Name of the company, the Name of the device and the temperature in real time.                                    </p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-apartment" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Company</h4>
                                   
                                    <p>
                                        Register your company with nit and active notifications by e-mail, by sms.
                                    </p>
                                    <br />
                                  
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-smartphone" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">device</h4>

                                    <p>
                                        An identifier for sending messages is generated when creating a device.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-user" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">User</h4>

                                    <p>
                                        You register your personal data.
                                    </p>
                                    <br />

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-layers" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Report</h4>

                                    <p>
                                        Through graphical reports and tables, you have the traceability of the temperature in the Computer Room, the user must select the device and the range of dates them to generate the temperature sensor obtained.                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="fa fa-file-text-o" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Threshold</h4>

                                    <p>
                                        Set the temperature and tolerance thresholds to activate the necessary alerts.
                                    </p>
                                    <br />

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h2>Welcome Administrator</h2>
        <div class="jumbotron">

    < p > we have an informative installed devices control panel, where you can see the Name of the company, the Name of the device and the temperature in time real. < /p >
    < p > configuration of temperature ranges, allows the user to set the maximum and minimum temperature of a device, activating alarms when temperatures go threshold. < /p >
    </div >*@

