<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tempaturesensor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tempaturesensor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tempaturesensor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Tempaturesensor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ActiveSense.Tempsense.web.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ActiveSense.Tempsense.web.Models.ApplicationDbContext, ActiveSense.Tempsense.web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ActiveSense.Tempsense.model.Model.ActiveSenseContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tempsense.database.windows.net,1433;Initial Catalog=tempSensedemo;Persist Security Info=False;User ID=tempsenseadmin;Password=S0fw@r31.;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ActiveSense.Tempsense.model.Model.ActiveSenseContext, ActiveSense.Tempsense.model" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TempsenseConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:nhjax-dev-azure.database.windows.net,1433;Initial Catalog=NHJAX;Persist Security Info=False;User ID=fbenton;Password=zaq2#ert;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TempsenseConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:nhjax-dev-azure.database.windows.net,1433;Initial Catalog=NHJAX;Persist Security Info=False;User ID=fbenton;Password=zaq2#ert;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ActiveSense.Tempsense.model.Model.ActiveSenseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tempsense.database.windows.net,1433;Initial Catalog=tempSensedemo;Persist Security Info=False;User ID=tempsenseadmin;Password=S0fw@r31.;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ActiveSense.Tempsense.web.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TempsenseConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ActiveSense.Tempsense.model.Model.ActiveSenseContext" />
    <_ConnectionStringsToInsert Include="ActiveSense.Tempsense.web.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>