
@{
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="fa fa-tachometer" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Board</h4>

                                    <p>
                                        Have with a Board of control information of the devices installed, where can see the Name of the company, the Name of the device and the temperature in time real.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="fa fa-file-text-o" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Threshold</h4>

                                    <p>
                                        Set the temperature and tolerance thresholds to activate the necessary alerts.
                                    </p>
                                    <br />

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-layers" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Reporte</h4>

                                    <p>
                                        Through graphical reports and tables, you have the traceability of the temperature in the computer room, the user must select the device and the range of dates them to generate the temperature sensor obtained.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
   
    </div>
</div>

@*<h2>Welcome@</h2>
        <div class="jumbotron">

    < p > we have an informative installed devices control panel, where you can see the Name of the company, the Name of the device and the temperature in time real. < /p >
    < p > configuration of temperature ranges, allows the user to set the maximum and minimum temperature of a device, activating alarms when temperatures go threshold. < /p >
    </div >*@